h2 {color: blue}


img {float: left;}
img {height: 250px;
    width: auto;
  }

  .column1{
    width: 300px;
    float: left;
  }

  .column2{
    width: 300px;
    float: left;
  }

  .column3{
    width: 300px;
    float: left;
  }
